<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" th:href="@{/css/styles.css}"/>
    <meta charset="UTF-8"/>
    <title>Forum</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="content">
        <div class="row">
            <div class="col-8 mx-auto">
                <div class="border border-primary rounded bg-primary">
                    <h3 class="category_title text-light bg-primary" th:text="${category.title}"></h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8 mx-auto">
                <div class="border border-primary rounded bg-primary" th:if="${category.subCategories.size()>0}">
                    <h3 class="category_title text-light bg-primary" th:text="Subcategories"></h3>
                    <div class="list-group">
                        <div class="list-group-item list-group-item-action"
                             th:each="subcategory : ${category.subCategories}">
                            <h4>
                                <a class="subcategory_title" th:href="@{'/category/'+${subcategory.id}}"
                                   th:text="${subcategory.title}"></a>
                            </h4>
                            <p th:text="${subcategory.description}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" th:if="${category.topics.size()>0}">
            <div class="col-8 mx-auto">
                <div class="border border-primary rounded bg-primary">
                    <div class="d-flex w-100 justify-content-between">
                        <h3 class="category_title text-light" th:text="Topics"></h3>
                        <a class="category_title text-light" th:href="@{${#httpServletRequest.requestURI+'/topic/'}}">
                            <i class="fas fa-plus"></i> Add Topic</a>
                    </div>
                    <div class="list-group">
                        <div class="list-group-item list-group-item-action" th:each="topic : ${category.topics}">
                            <h6><a class="subcategory_title" href="/category"
                                   th:href="@{'/category/'+${topic.category.id} +'/topic/'+ ${topic.id}}"
                                   th:text="${topic.title}"></a></h6>
                            <p class="text_desc_small" th:text="${topic.description}"></p>
                            <p class="text_desc_small"
                               th:text="${topic.user.username+' - '+#dates.format(topic.creationDate, 'dd MMM yyyy, h:mm a')}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>