<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>
    <title>Register</title>
</head>
<body>
<h1 th:text="#{index.register}"/>
<form method="POST" th:object="${user}">
    Username: <input type="text" name="username"/><br/>
    Email: <input type="text" name="email"/><br/>
    Password: <input type="password" name="password"/><br/>
    Repeat password: <input type="password" name="repeat_password"/><br/>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>